/* General page format. */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.pageBody {
    margin:0;
}

.mainContentDiv {
    min-height: 750px;
}

/* Page Header. */
.pageHeader {
    background-color: #21295C;
    padding: 10px;
}

/* Page Navbar */
.pageNav {
    display: flex;
    flex-wrap: wrap;
    background-color: #1B3B6F;
    padding: 5px;
}

.pageNav .login {
    margin-left: auto;
    margin-right: 150px;
}

.navButtonDiv {
    align-items: auto;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
}

.navButton {
    font-size: larger;
    color: white;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.navButton:hover {
    color: rgb(219, 219, 219);
}

/* Buy page listing elements. */
.column-wrapper {
    height: inherit;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px;
}

.column {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background: #1B3B6F;
    padding: 5px;
    width: 400px; /*changed width to 200 from 400, height from 550 to 225*/
    height: 550px;
    margin: 20px;
    margin-bottom: 0px;
}

.columnImageDiv {
    background: black;
    width: 400px; /*changed width and height from 400 to 200*/
    height: 400px;
}

.columnTextDiv {
    line-height: 30px;
    text-align: left;
    padding: 5px;
}

.columnText {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.column:hover {
    opacity: 0.7;
}

/* Buy page sidebar. */

.gridContainer {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 20px;
}

.sideBar {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

/* Login popup. */
#login-popup {
    height: auto;
    display: none;
    position: absolute;
    border: 3px solid gray;
    z-index: 3;
}

#login-popup .container {
    max-width: 200px;
    padding: 15px;
    background-color: white;
}

#login-popup .container input[type=text], #login-popup .container input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 10px 10px 30px -10px;
    border: none;
    background: rgb(226, 226, 226);
}

.login-popup-btn {
    background-color: black;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

#login-popup .container label, #login-popup .container h1 {
    margin-left: -10px;
}

#login-popup .container input[type=text]:focus , #login-popup .container input[type=password]:focus {
    background-color: rgb(185, 185, 185);
    outline: none;
}

#login-popup .container .login-popup-btn:hover, .login-button:hover {
    opacity: 1;
}



.listingTable {
    line-height: 30px;
}

.title {
    color: white;
}

.homeMainPageTitle {
    padding: 5px;
}

.homeMainPageBody {
    padding: 5px;
}

.homeMainPageFooter {
    background-color: #21295C;
    padding: 5px;
}

.homeMainPageFooterText {
    color: white;
}

.buttonDiv {
    background-color: black;
    width: auto;
    padding: 2px;
}

.button {
    font-size: larger;
}

.center { /* do we have a center class? */
    display: flex;
    justify-content: center;
}

.sellInputs {
    visibility: hidden;
}

.mainAccountDiv {
    display: flex;
    flex-direction: column;
}

.createAccLink {
    position: relative;
    text-align: center;
    margin: 10px 12px;
    padding: 16px 20px;
    width: 50%;
}

#account-popup {
    height: auto;
    display: none;
    position: absolute;
    border: 3px solid gray;
    z-index: 3;
}

#account-popup .account-container {
    max-width: 150px;
    padding: 15px;
    background-color: white;
}

.account-popup-btn {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

#account-popup .account-container .account-popup-btn:hover {
    opacity: 1;
}